.DS_Store

# Node
node_modules/
.pnpm-store/
.next/
coverage/
*.tsbuildinfo

# Java / Gradle
.gradle/
build/
out/

# Logs
logs/
*.log

# Env
.env
.env.*
!.env.example

# Package manager
package-lock.json

# IDE
.idea/
.vscode/
